<h4>{{resource ? resource.name : 'Choose a resource in the projects view above.'}}</h4>
<div class="row-space-between">
    <vscode-tag *ngIf="resource !== undefined">{{resource.type === null ? 'service' : resource.type === 'projects' ?
        resource.type : resource.kind.split('/')[1] }}</vscode-tag>
    <vscode-button disabled>Edit<span slot="start" class="codicon codicon-edit"></span></vscode-button>
</div>
<vscode-divider></vscode-divider>
<div>

    <!-- Project -->
    <ul style="list-style: none;" *ngIf="resource.type === 'projects'">
        <li style="margin-bottom: 0.5rem;">
            <div><i class="codicon codicon-server"></i>{{resource.server.language | titlecase}}</div>
        </li>
        <li style="margin-bottom: 0.5rem;" *ngFor="let client of resource.clients">
            <div><i class="codicon codicon-vm"></i>{{client.language | titlecase}}</div>
        </li>
    </ul>
    <div *ngIf="resource.type === 'projects'">

        <h3><i class="codicon codicon-server" style="margin-right: 0.5rem;"></i>Services</h3>
        <vscode-divider></vscode-divider>

        <vscode-data-grid grid-template-columns="1fr 1fr" aria-label="Basic">
            <vscode-data-grid-row row-type="header">
                <vscode-data-grid-cell cell-type="columnheader" grid-column="1">Service</vscode-data-grid-cell>
                <vscode-data-grid-cell cell-type="columnheader" grid-column="2"># RPC's</vscode-data-grid-cell>
            </vscode-data-grid-row>
            <vscode-data-grid-row *ngFor="let svc of _app.listServices(resource.name) | keyvalue">
                <vscode-data-grid-cell grid-column="1">{{svc.key}}</vscode-data-grid-cell>
                <vscode-data-grid-cell grid-column="2">{{svc.value.methods.length}}</vscode-data-grid-cell>
            </vscode-data-grid-row>
        </vscode-data-grid>

        <h3><i class="codicon codicon-package" style="margin-right: 0.5rem;"></i>Packages</h3>
        <vscode-divider></vscode-divider>
        <vscode-data-grid grid-template-columns="1fr 1fr" aria-label="Basic">
            <vscode-data-grid-row row-type="header">
                <vscode-data-grid-cell cell-type="columnheader" grid-column="1">Package</vscode-data-grid-cell>
                <vscode-data-grid-cell cell-type="columnheader" grid-column="2"># Messages</vscode-data-grid-cell>
            </vscode-data-grid-row>
            <vscode-data-grid-row *ngFor="let pkg of _app.listPackages(resource.name) | keyvalue">
                <vscode-data-grid-cell grid-column="1">{{pkg.key.split('/')[pkg.key.split('/').length -1].split('.')[0]}}</vscode-data-grid-cell>
                <vscode-data-grid-cell grid-column="2">{{pkg.value.messages.length}}</vscode-data-grid-cell>
            </vscode-data-grid-row>
        </vscode-data-grid>

        <h3><i class="codicon codicon-gear" style="margin-right: 0.5rem;"></i>Configs</h3>
        <vscode-divider></vscode-divider>
        <ul style="list-style: none;">
            <li>Host: {{_app.getConfig(resource.name)?.host}}</li>
            <li>Port: {{_app.getConfig(resource.name)?.port}}</li>
        </ul>
    </div>

    <!-- Package -->

    <!-- Service -->

    <!-- Enum -->

    <!-- Message -->
    <vscode-data-grid grid-template-columns="1fr 1fr" *ngIf="resource.kind.split('/')[1] === 'message'"
        aria-label="Basic">
        <vscode-data-grid-row row-type="header">
            <vscode-data-grid-cell cell-type="columnheader" grid-column="1">Name</vscode-data-grid-cell>
            <vscode-data-grid-cell cell-type="columnheader" grid-column="2">Package</vscode-data-grid-cell>
        </vscode-data-grid-row>
        <vscode-data-grid-row>
            <vscode-data-grid-cell grid-column="1">{{resource.name}}</vscode-data-grid-cell>
            <vscode-data-grid-cell grid-column="2">
                <vscode-button>{{resource.fullName.split('.')[1]}}</vscode-button>
            </vscode-data-grid-cell>
        </vscode-data-grid-row>

    </vscode-data-grid>
    <h5 *ngIf="resource.kind.split('/')[1] === 'message'">Fields</h5>
    <vscode-divider *ngIf="resource.kind.split('/')[1] === 'message'"></vscode-divider>
    <vscode-data-grid grid-template-columns="1fr 1fr 1fr" *ngIf="resource.kind.split('/')[1] === 'message'"
        aria-label="Basic">
        <vscode-data-grid-row row-type="header">
            <vscode-data-grid-cell cell-type="columnheader" grid-column="1">Name</vscode-data-grid-cell>
            <vscode-data-grid-cell cell-type="columnheader" grid-column="2">Type</vscode-data-grid-cell>
            <vscode-data-grid-cell cell-type="columnheader" grid-column="3">Label</vscode-data-grid-cell>
        </vscode-data-grid-row>
        <vscode-data-grid-row *ngFor="let field of resource.fields;">
            <vscode-data-grid-cell grid-column="1">{{field.name}}</vscode-data-grid-cell>
            <vscode-data-grid-cell grid-column="2">
                <div class="row"><i
                        [class]="'codicon codicon-'+(field.fieldType.split('_')[1].toLowerCase() === 'string' ? 'symbol-string' : field.fieldType.split('_')[1].toLowerCase().includes('int') || field.fieldType.split('_')[1].toLowerCase().includes('double') || field.fieldType.split('_')[1].toLowerCase().includes('float') ? 'symbol-numeric' : field.fieldType.split('_')[1].toLowerCase() === 'bool' ? 'symbol-boolean':  field.fieldType.split('_')[1].toLowerCase() === 'message' ? 'mail' : 'symbol-field' )"></i>{{field.fieldType.split('_')[1].toLowerCase()}}
                </div>
            </vscode-data-grid-cell>
            <vscode-data-grid-cell grid-column="3">
                <div class="row"><i
                        [class]="'codicon codicon-'+(field.label.split('_')[1].toLowerCase() === 'repeated' ? 'symbol-array' : 'tag' )"></i>{{field.label.split('_')[1].toLowerCase()}}
                </div>
            </vscode-data-grid-cell>
        </vscode-data-grid-row>
    </vscode-data-grid>
    <!-- RPC -->
    <vscode-data-grid grid-template-columns="50px 4fr 30%" *ngIf="resource.inputType && resource.outputType"
        aria-label="Basic">
        <vscode-data-grid-row row-type="header">
            <vscode-data-grid-cell cell-type="columnheader" grid-column="1">I/O</vscode-data-grid-cell>
            <vscode-data-grid-cell cell-type="columnheader" grid-column="2">Type</vscode-data-grid-cell>
            <vscode-data-grid-cell cell-type="columnheader" grid-column="3">Stream</vscode-data-grid-cell>
        </vscode-data-grid-row>
        <vscode-data-grid-row>
            <vscode-data-grid-cell grid-column="1">In</vscode-data-grid-cell>
            <vscode-data-grid-cell grid-column="2">
                <vscode-button>{{resource.inputType.split('.').pop()}}</vscode-button>
            </vscode-data-grid-cell>
            <vscode-data-grid-cell grid-column="3">
                <ng-container *ngIf="resource.serverStreaming; then stream; else unary"></ng-container>
                <ng-template #stream>
                    <div class="icon"><i class="codicon codicon-check"></i> </div>
                </ng-template>
                <ng-template #unary>
                    <div class="icon"><i class="codicon codicon-close"></i> </div>
                </ng-template>
            </vscode-data-grid-cell>
        </vscode-data-grid-row>
        <vscode-data-grid-row>
            <vscode-data-grid-cell grid-column="1">Out</vscode-data-grid-cell>
            <vscode-data-grid-cell grid-column="2">
                <vscode-button>{{resource.outputType.split('.').pop()}}</vscode-button>
            </vscode-data-grid-cell>
            <vscode-data-grid-cell grid-column="3">
                <ng-container *ngIf="resource.serverStreaming; then stream; else unary"></ng-container>
                <ng-template #stream>
                    <div class="icon"><i class="codicon codicon-check"></i> </div>
                </ng-template>
                <ng-template #unary>
                    <div class="icon"><i class="codicon codicon-close"></i> </div>
                </ng-template>

            </vscode-data-grid-cell>
        </vscode-data-grid-row>
    </vscode-data-grid>
</div>