<div class="row-space-between">

    <h1>Webezy.io</h1>
    <vscode-link href="https://www.webezy.io">Website</vscode-link>
</div>
<vscode-divider></vscode-divider>
<div class="column">
    <p class="main">
        Welcome To <i>VSCode Extension</i> For <b>webezy.io</b> Framework
    </p>
    <vscode-divider style="margin-bottom: 2rem;"></vscode-divider>
    <p style="margin: auto;">
        Webezy.io is a free open-source framework for creating, managing and deploying gRPC micro-services with ease.
        <br>
        <br>
        It is doing so with a simple but powerful CLI and by leveraging it into vscode extension for native functionality.
        <br>
        <br>
        Webezy.io framework lets you define your services and thier functionality once and then use it across multiple different environments and languages, currently we support both for <i>Server</i> side <b>And</b>  <i>Client</i> side <b>Python & Typescript</b>
    </p>
</div>
<h2>Usage</h2>
<div class="column">
    <p class="main">
        Install webezy.io CLI
    </p>
    <vscode-divider style="margin-bottom: 2rem;"></vscode-divider>
    <p style="margin: auto;">
        To use this extension and to start creating your gRPC services with vscode extension you will need to download and install the webezy.io CLI
    </p>
    <vscode-link href="https://www.webezy.io/docs/cli">Visit Here For More Information</vscode-link>
</div>
<h2>Walkthroughs</h2>
<div class="column">
    <p class="main">
        Setup
    </p>
    <vscode-divider style="margin-bottom: 2rem;"></vscode-divider>
    <p style="margin: auto;">
        Be sure webezy.io extension setup is properly configured before starting to use it
    </p>

    <p class="main" style="margin-top: 2rem;">
        Create Project
    </p>
    <vscode-divider style="margin-bottom: 2rem;"></vscode-divider>
    <p style="margin: auto;">
        Get to know how to quick start your project from A-Z
    </p>
</div>